@import "bootstrap";

.timestamp{
  font-size: 18px;
  color: gray;
  font-family: 'Lora', serif;
  font-style: italic;
  font-weight: 400;
}

.timestamp.post{
  font-size: 13px;
  color: gray;
  font-family: 'Lora', serif;
  font-style: italic;
  font-weight: 400;
}

.micropost{
  border-bottom: 0.5px solid rgba(100,100,100,0.4);
  padding: 20px 0px;
}

.title{
  font-size: 36px;
  font-weight: 800;
  word-wrap: break-word;
  font-family: 'Open Sans', sans-serif;
  :link{
    text-decoration: none;
    color:  #212529;
  }
  :visited{
    text-decoration: none;
    color: #212529;
  }
  :hover{
    text-decoration: none;
    color: rgb(15, 145, 185);
  }
  :active{
    text-decoration: none;
    color: #212529;
  }
}

.description{
  font-size: 24px;
  font-weight: 400;
  word-wrap: break-word;
  font-family: 'Open Sans', sans-serif;
}

.timestamp .name{
  font-style: normal;
  color: #212529;
  &:hover{
    color: #0085a1 !important;
  }
}

.content{
  font-size: 18px;
  color: black;
}

.stats{
  font-size: 20px;
}

.avatar{
  max-height: 100px;
  max-width: 150px;
}

.space{
  padding: 0px !important;
  max-width: 60%;
}

.posts{
  padding: 0px !important;
  list-style: none;
  margin: 0px;
  max-width: 700px;
}

.row.custom-row{
  margin-right: 15px;
}

.form-post{
  padding-left: 10px
}

.comment-area{
  background-color: rgb(220,220,220);
  margin-top: 2px;
}

.like{
  width: 8%;
  border-color: rgb(211,211,211);
  a:hover {
    text-decoration: underline;
    text-decoration-color: rgb(211,211,211);
  }
  span{
    color: rgb(170,170,170);
    text-decoration-color: rgb(170,170,170);
  }
}

.a-dropdown{
  padding: 10px 20px;
  color: #fff;
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 1px;
  text-transform: uppercase;
}
